
.LeftLeg{
	transform: rotate(30deg);
	background-color: blue;
    width: 100px;
    height: 150px;
}
.RightLeg{
	transform: rotate(140deg);
	background-color: blue;
    width: 100px;
    height: 150px;
}