.Steve {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	box-sizing: border-box;
}
.Head {
	width: 80px;
	height: 80px;
	background-color: black;
}

.Body {
	width: 200px;
	height: 150px;
	background-color: green;
	display: flex; 
	position: relative; 
}


.Leg {
	display: flex;
}